
@font-face {
    font-family: Montserrat;
    src: url(./fonts/montserrat/Montserrat-Regular.otf);
}

* {
    /*font-family: Montserrat;*/
}

.loginBody{
    width: 100%;
    display: block;
}
.loginBody::after{
    content: ' ';
    background-image: url(../img/logo.jpg);
    background-position: center;
    background-origin: border-box;
    background-size: cover;
    background-clip: border-box;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}

#container_login {
    position: fixed;
    width: 340px;
    height: 280px;
    top: 50%;
    left: 50%;
    margin-top: -140px;
    margin-left: -170px;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    -webkit-animation-name: bounceIn;
    -webkit-animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: bounceIn;
    -moz-animation-fill-mode: both;
    -moz-animation-duration: 1s;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: linear;
    animation-name: bounceIn;
    animation-fill-mode: both;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    color: #444;
}

#container_login section {
    margin: 0 auto;
    margin-top: 20px;
}

#container_login label {
    color: #555;
    display: inline-block;
    margin-left: 18px;
    padding-top: 10px;
    font-size: 14px;
}

#container_login p a {
    font-size: 11px;
    color: #aaa;
    float: right;
    margin-top: -13px;
    margin-right: 20px;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    transition: all .4s ease;
}

#container_login p a:hover {
    color: #555;
}

#container_login input {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    outline: none;
}

#container_login input[type=text],
#container_login input[type=password] {
    color: #777;
    padding-left: 10px;
    margin: 10px;
    margin-top: 12px;
    margin-left: 18px;
    width: 290px;
    height: 35px;
    border: 1px solid #c7d0d2;
    border-radius: 2px;
    box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #f5f7f8;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    transition: all .4s ease;
}

#container_login input[type=text]:hover,
#container_login input[type=password]:hover {
    border: 1px solid #b6bfc0;
    box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .7), 0 0 0 5px #f5f7f8;
}

#container_login input[type=text]:focus,
#container_login input[type=password]:focus {
    border: 1px solid #a8c9e4;
    box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #e6f2f9;
}

#lower {
    background: #ecf2f5;
    width: 100%;
    height: 69px;
    margin-top: 20px;
    box-shadow: inset 0 1px 1px #fff;
    border-top: 1px solid #ccc;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

#container_login input[type=checkbox] {
    margin-left: 20px;
    margin-top: 30px;
}

#container_login .check {
    margin-left: 3px;
    font-size: 11px;
    color: #444;
    text-shadow: 0 1px 0 #fff;
}

#container_login input[type=submit] {
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    width: 80px;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: #acd6ef; /*IE fallback*/
    background-image: -webkit-gradient(linear, left top, left bottom, from(#acd6ef), to(#6ec2e8));
    background-image: -moz-linear-gradient(top left 90deg, #acd6ef 0%, #6ec2e8 100%);
    background-image: linear-gradient(top left 90deg, #acd6ef 0%, #6ec2e8 100%);
    border-radius: 30px;
    border: 1px solid #66add6;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(255, 255, 255, .5);
    cursor: pointer;
}

#container_login input[type=submit]:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#b6e2ff), to(#6ec2e8));
    background-image: -moz-linear-gradient(top left 90deg, #b6e2ff 0%, #6ec2e8 100%);
    background-image: linear-gradient(top left 90deg, #b6e2ff 0%, #6ec2e8 100%);
}

#container_login input[type=submit]:active {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#6ec2e8), to(#b6e2ff));
    background-image: -moz-linear-gradient(top left 90deg, #6ec2e8 0%, #b6e2ff 100%);
    background-image: linear-gradient(top left 90deg, #6ec2e8 0%, #b6e2ff 100%);
}

.IconSize50 .sapUiIcon{
    font-size: 30px !important;
}

/*Detalle Producto*/
/*-------- Estilo texto Total Dscto---------------------*/

.txt_Total_Dscto{
    font-size: 100% !important;
}

.monto_Total_Dscto{
    font-size: 150% !important;
}

/*------------------------------------------------------------------*/

/*Estilo Menu Principal----------------------------------------------------------*/
/*
.FondoMenuPrincipal{
    
background: #ededed !important;
}*/

/*
.FondoMenuPrincipal{
    
background: #6d0019 !important;
}

.sapUiGlobalBackgroundImage {
background: #2f3c48 !important;
}
*/
.btnMenuPrincipal{
 /*  border-radius: 18px 18px 18px 18px !important;
-moz-border-radius: 18px 18px 18px 18px !important;
-webkit-border-radius: 18px 18px 18px 18px !important;
border: 0px solid #000000 !important;


background: rgba(23,92,117,1) !important;
background: -moz-linear-gradient(left, rgba(23,92,117,1) 0%, rgba(23,92,117,0.98) 12%, rgba(23,92,117,0.96) 25%, rgba(23,92,117,0.94) 39%, rgba(23,92,117,0.92) 50%, rgba(0,0,0,0.92) 51%, rgba(23,92,117,0.9) 60%, rgba(23,92,117,0.9) 60%, rgba(23,92,117,0.88) 76%, rgba(23,92,117,0.86) 85%, rgba(23,92,117,0.85) 91%, rgba(23,92,117,0.84) 100%) !important;
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(23,92,117,1)), color-stop(12%, rgba(23,92,117,0.98)), color-stop(25%, rgba(23,92,117,0.96)), color-stop(39%, rgba(23,92,117,0.94)), color-stop(50%, rgba(23,92,117,0.92)), color-stop(51%, rgba(0,0,0,0.92)), color-stop(60%, rgba(23,92,117,0.9)), color-stop(60%, rgba(23,92,117,0.9)), color-stop(76%, rgba(23,92,117,0.88)), color-stop(85%, rgba(23,92,117,0.86)), color-stop(91%, rgba(23,92,117,0.85)), color-stop(100%, rgba(23,92,117,0.84))) ;
background: -webkit-linear-gradient(left, rgba(23,92,117,1) 0%, rgba(23,92,117,0.98) 12%, rgba(23,92,117,0.96) 25%, rgba(23,92,117,0.94) 39%, rgba(23,92,117,0.92) 50%, rgba(0,0,0,0.92) 51%, rgba(23,92,117,0.9) 60%, rgba(23,92,117,0.9) 60%, rgba(23,92,117,0.88) 76%, rgba(23,92,117,0.86) 85%, rgba(23,92,117,0.85) 91%, rgba(23,92,117,0.84) 100%) !important;
background: -o-linear-gradient(left, rgba(23,92,117,1) 0%, rgba(23,92,117,0.98) 12%, rgba(23,92,117,0.96) 25%, rgba(23,92,117,0.94) 39%, rgba(23,92,117,0.92) 50%, rgba(0,0,0,0.92) 51%, rgba(23,92,117,0.9) 60%, rgba(23,92,117,0.9) 60%, rgba(23,92,117,0.88) 76%, rgba(23,92,117,0.86) 85%, rgba(23,92,117,0.85) 91%, rgba(23,92,117,0.84) 100%) !important;
background: -ms-linear-gradient(left, rgba(23,92,117,1) 0%, rgba(23,92,117,0.98) 12%, rgba(23,92,117,0.96) 25%, rgba(23,92,117,0.94) 39%, rgba(23,92,117,0.92) 50%, rgba(0,0,0,0.92) 51%, rgba(23,92,117,0.9) 60%, rgba(23,92,117,0.9) 60%, rgba(23,92,117,0.88) 76%, rgba(23,92,117,0.86) 85%, rgba(23,92,117,0.85) 91%, rgba(23,92,117,0.84) 100%) !important;
background: linear-gradient(to right, rgba(23,92,117,1) 0%, rgba(23,92,117,0.98) 12%, rgba(23,92,117,0.96) 25%, rgba(23,92,117,0.94) 39%, rgba(23,92,117,0.92) 50%, rgba(0,0,0,0.92) 51%, rgba(23,92,117,0.9) 60%, rgba(23,92,117,0.9) 60%, rgba(23,92,117,0.88) 76%, rgba(23,92,117,0.86) 85%, rgba(23,92,117,0.85) 91%, rgba(23,92,117,0.84) 100%) !important;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#175c75', endColorstr='#175c75', GradientType=1 ) ;


background: rgba(23,92,117,1) !important;
background: -moz-linear-gradient(left, rgba(23,92,117,1) 0%, rgba(23,92,117,0.96) 12%, rgba(23,92,117,0.92) 25%, rgba(23,92,117,0.88) 36%, rgba(23,92,117,0.81) 55%, rgba(0,0,0,0.81) 56%, rgba(23,92,117,0.76) 71%, rgba(23,92,117,0.75) 73%, rgba(23,92,117,0.73) 78%, rgba(23,92,117,0.71) 85%, rgba(23,92,117,0.69) 91%, rgba(23,92,117,0.66) 100%) !important;
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(23,92,117,1)), color-stop(12%, rgba(23,92,117,0.96)), color-stop(25%, rgba(23,92,117,0.92)), color-stop(36%, rgba(23,92,117,0.88)), color-stop(55%, rgba(23,92,117,0.81)), color-stop(56%, rgba(0,0,0,0.81)), color-stop(71%, rgba(23,92,117,0.76)), color-stop(73%, rgba(23,92,117,0.75)), color-stop(78%, rgba(23,92,117,0.73)), color-stop(85%, rgba(23,92,117,0.71)), color-stop(91%, rgba(23,92,117,0.69)), color-stop(100%, rgba(23,92,117,0.66)));
background: -webkit-linear-gradient(left, rgba(23,92,117,1) 0%, rgba(23,92,117,0.96) 12%, rgba(23,92,117,0.92) 25%, rgba(23,92,117,0.88) 36%, rgba(23,92,117,0.81) 55%, rgba(0,0,0,0.81) 56%, rgba(23,92,117,0.76) 71%, rgba(23,92,117,0.75) 73%, rgba(23,92,117,0.73) 78%, rgba(23,92,117,0.71) 85%, rgba(23,92,117,0.69) 91%, rgba(23,92,117,0.66) 100%) !important;
background: -o-linear-gradient(left, rgba(23,92,117,1) 0%, rgba(23,92,117,0.96) 12%, rgba(23,92,117,0.92) 25%, rgba(23,92,117,0.88) 36%, rgba(23,92,117,0.81) 55%, rgba(0,0,0,0.81) 56%, rgba(23,92,117,0.76) 71%, rgba(23,92,117,0.75) 73%, rgba(23,92,117,0.73) 78%, rgba(23,92,117,0.71) 85%, rgba(23,92,117,0.69) 91%, rgba(23,92,117,0.66) 100%) !important;
background: -ms-linear-gradient(left, rgba(23,92,117,1) 0%, rgba(23,92,117,0.96) 12%, rgba(23,92,117,0.92) 25%, rgba(23,92,117,0.88) 36%, rgba(23,92,117,0.81) 55%, rgba(0,0,0,0.81) 56%, rgba(23,92,117,0.76) 71%, rgba(23,92,117,0.75) 73%, rgba(23,92,117,0.73) 78%, rgba(23,92,117,0.71) 85%, rgba(23,92,117,0.69) 91%, rgba(23,92,117,0.66) 100%) !important;
background: linear-gradient(to right, rgba(23,92,117,1) 0%, rgba(23,92,117,0.96) 12%, rgba(23,92,117,0.92) 25%, rgba(23,92,117,0.88) 36%, rgba(23,92,117,0.81) 55%, rgba(0,0,0,0.81) 56%, rgba(23,92,117,0.76) 71%, rgba(23,92,117,0.75) 73%, rgba(23,92,117,0.73) 78%, rgba(23,92,117,0.71) 85%, rgba(23,92,117,0.69) 91%, rgba(23,92,117,0.66) 100%) !important;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#175c75', endColorstr='#175c75', GradientType=1 );


background: rgba(23,92,117,1) !important;
background: -moz-linear-gradient(left, rgba(23,92,117,1) 0%, rgba(23,92,117,0.99) 12%, rgba(23,92,117,0.97) 25%, rgba(23,92,117,0.95) 39%, rgba(23,92,117,0.93) 56%, rgba(0,0,0,0.93) 58%, rgba(23,92,117,0.92) 68%, rgba(23,92,117,0.91) 76%, rgba(23,92,117,0.89) 91%, rgba(23,92,117,0.88) 100%) !important;
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(23,92,117,1)), color-stop(12%, rgba(23,92,117,0.99)), color-stop(25%, rgba(23,92,117,0.97)), color-stop(39%, rgba(23,92,117,0.95)), color-stop(56%, rgba(23,92,117,0.93)), color-stop(58%, rgba(0,0,0,0.93)), color-stop(68%, rgba(23,92,117,0.92)), color-stop(76%, rgba(23,92,117,0.91)), color-stop(91%, rgba(23,92,117,0.89)), color-stop(100%, rgba(23,92,117,0.88))) !important;
background: -webkit-linear-gradient(left, rgba(23,92,117,1) 0%, rgba(23,92,117,0.99) 12%, rgba(23,92,117,0.97) 25%, rgba(23,92,117,0.95) 39%, rgba(23,92,117,0.93) 56%, rgba(0,0,0,0.93) 58%, rgba(23,92,117,0.92) 68%, rgba(23,92,117,0.91) 76%, rgba(23,92,117,0.89) 91%, rgba(23,92,117,0.88) 100%) !important;
background: -o-linear-gradient(left, rgba(23,92,117,1) 0%, rgba(23,92,117,0.99) 12%, rgba(23,92,117,0.97) 25%, rgba(23,92,117,0.95) 39%, rgba(23,92,117,0.93) 56%, rgba(0,0,0,0.93) 58%, rgba(23,92,117,0.92) 68%, rgba(23,92,117,0.91) 76%, rgba(23,92,117,0.89) 91%, rgba(23,92,117,0.88) 100%) !important;
background: -ms-linear-gradient(left, rgba(23,92,117,1) 0%, rgba(23,92,117,0.99) 12%, rgba(23,92,117,0.97) 25%, rgba(23,92,117,0.95) 39%, rgba(23,92,117,0.93) 56%, rgba(0,0,0,0.93) 58%, rgba(23,92,117,0.92) 68%, rgba(23,92,117,0.91) 76%, rgba(23,92,117,0.89) 91%, rgba(23,92,117,0.88) 100%) !important;
background: linear-gradient(to right, rgba(23,92,117,1) 0%, rgba(23,92,117,0.99) 12%, rgba(23,92,117,0.97) 25%, rgba(23,92,117,0.95) 39%, rgba(23,92,117,0.93) 56%, rgba(0,0,0,0.93) 58%, rgba(23,92,117,0.92) 68%, rgba(23,92,117,0.91) 76%, rgba(23,92,117,0.89) 91%, rgba(23,92,117,0.88) 100%) !important;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#175c75', endColorstr='#175c75', GradientType=1 ) !important;


background: rgba(47,60,72,1) !important;
background: -moz-linear-gradient(left, rgba(47,60,72,1) 0%, rgba(47,60,72,0.98) 12%, rgba(47,60,72,0.97) 25%, rgba(47,60,72,0.95) 39%, rgba(47,60,72,0.92) 58%, rgba(0,0,0,0.92) 59%, rgba(47,60,72,0.9) 74%, rgba(47,60,72,0.89) 81%, rgba(47,60,72,0.88) 91%, rgba(47,60,72,0.87) 100%) !important;
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(47,60,72,1)), color-stop(12%, rgba(47,60,72,0.98)), color-stop(25%, rgba(47,60,72,0.97)), color-stop(39%, rgba(47,60,72,0.95)), color-stop(58%, rgba(47,60,72,0.92)), color-stop(59%, rgba(0,0,0,0.92)), color-stop(74%, rgba(47,60,72,0.9)), color-stop(81%, rgba(47,60,72,0.89)), color-stop(91%, rgba(47,60,72,0.88)), color-stop(100%, rgba(47,60,72,0.87))) !important;
background: -webkit-linear-gradient(left, rgba(47,60,72,1) 0%, rgba(47,60,72,0.98) 12%, rgba(47,60,72,0.97) 25%, rgba(47,60,72,0.95) 39%, rgba(47,60,72,0.92) 58%, rgba(0,0,0,0.92) 59%, rgba(47,60,72,0.9) 74%, rgba(47,60,72,0.89) 81%, rgba(47,60,72,0.88) 91%, rgba(47,60,72,0.87) 100%) !important;
background: -o-linear-gradient(left, rgba(47,60,72,1) 0%, rgba(47,60,72,0.98) 12%, rgba(47,60,72,0.97) 25%, rgba(47,60,72,0.95) 39%, rgba(47,60,72,0.92) 58%, rgba(0,0,0,0.92) 59%, rgba(47,60,72,0.9) 74%, rgba(47,60,72,0.89) 81%, rgba(47,60,72,0.88) 91%, rgba(47,60,72,0.87) 100%) !important;
background: -ms-linear-gradient(left, rgba(47,60,72,1) 0%, rgba(47,60,72,0.98) 12%, rgba(47,60,72,0.97) 25%, rgba(47,60,72,0.95) 39%, rgba(47,60,72,0.92) 58%, rgba(0,0,0,0.92) 59%, rgba(47,60,72,0.9) 74%, rgba(47,60,72,0.89) 81%, rgba(47,60,72,0.88) 91%, rgba(47,60,72,0.87) 100%) !important;
background: linear-gradient(to right, rgba(47,60,72,1) 0%, rgba(47,60,72,0.98) 12%, rgba(47,60,72,0.97) 25%, rgba(47,60,72,0.95) 39%, rgba(47,60,72,0.92) 58%, rgba(0,0,0,0.92) 59%, rgba(47,60,72,0.9) 74%, rgba(47,60,72,0.89) 81%, rgba(47,60,72,0.88) 91%, rgba(47,60,72,0.87) 100%) !important;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f3c48', endColorstr='#2f3c48', GradientType=1 ) !important;




-webkit-box-shadow: -13px 12px 31px 0px rgba(0,0,0,1) !important;
-moz-box-shadow: -13px 12px 31px 0px rgba(0,0,0,1) !important;
box-shadow: -13px 12px 31px 0px rgba(0,0,0,1) !important;

*/


}


/*Color Letras solo del boton
 
 .btnMenuPrincipal .sapMTextMaxLine  {
color: white;
 }
***************************/

/*Color Letras Iconos de boton
.sapMImageContentImageIcon {
color: #c5d2d6 !important;
}*/
/*TITULO MENU
.sapMBarContainer   
*/

/*Color Letras Titulo de Panel Desplegable
.sapMPanelHdr{
    font-family: "Segoe UI" !important;
    color: white !important;
font-weight: bold !important;
}
*/

/*Panel Principal Barra Usuario*/
/*btn Inicio y Logout*/
.sapUiUfdShellHeadItm >span{
    color: white !important;
}
/**/
.sapUiUfdShellBrand{
    background: #2f3c48 !important;
}

.sapUiUfdShellHeader{
    background: #2f3c48 !important;
}

/*Boton Usuario*/
.sapUiUfdShellHeadUsrItmName{
    color: white !important;
}
.sapUiUfdShellHeadUsrItmImg{
    color: white !important;
}

.cellBorderRight {
    border-right: 1px solid lightgray;
}
 
.cellBorderLeft {
    border-left: 1px solid lightgray;
}

/*Titulo Shell*/
.tituloShell{
    color: white !important;
}
/*Popas documentos*/
.btn_aceptar .sapMBtnAccept{
    background-color: #145214 !important;
}

/*Disquete*/
.btn_aceptar .sapMBtnDefault{
    background-color: #145214 !important; 
}

.btn_aceptar .sapMBtnBase{
    background-color: #145214 !important;    
}

.btn_imprimir .sapMBtnDefault{
    background-color: #145214 !important; 
}

.btn_boton .sapMBtnDefault{
    background-color: gray !important;
}

.btn_boton .sapMBtnContent{
    color : white !important;
}

.btn_boton .sapUiIconMirrorInRTL{
    color : black !important;
}

.sapMBtnReject{
    background-color: gray !important;
}

.sapMBtnContent{
    color : white !important;
}
.btn_cancelar .sapUiIconMirrorInRTL{
    color : white !important;
}

.cabecera_dialogo .sapMBarContainer{
    background-color: #2f3c48 !important;
}

.cabecera_dialogo .sapMDialogTitle{
    color : white !important;   
}
.cabecera_dialogo .sapMTitle{
    color : white !important;   
}
/*btn seleccionar todo y nothing*/
.btnSeleccionar .sapMBtnEmphasized {
    background: #2f3c48 !important;
}
/**/

/*IconTabFilter*/
.sapMITBHead{

width: 100% !important;
}
.sapMITBFilter{
    width: 10% !important;
}
.sapMITBTab{
    text-align: left !important;
}
.sapMITBText{
text-align: left !important;
    width: 100% !important;
}
/**/

.listaMasterMateriales .sapMFlexBox{
    padding-top: 0.9% !important;
    padding-bottom: 0.4% !important;
}

/*Tamaño de las letras de las Listas*/
.lblDetalleProducto{
    font-size: 55% !important;
}
/**/

/*Eliminar Box Multi Select en Lista Materiales*/
.listaMasterMateriales .sapMLIBSelectM {
    display:none !important;
}
/**/

.IconTabFilterDetalleProducto .sapMInputBaseInner{
    height: 30 !important;
}

/*header lista de Documentos*/
.cabecera_buscarDoc .sapMBarContainer{
    background-color: #2f3c48 !important;
} 
.cabecera_buscarDoc .sapMDialogTitle{
    background-color: #2f3c48 !important;
    color : white !important;   
}
/**/

/*Cabecera Semantic Page*/
.cabecera_semanticDetail .sapMBar{
    background-color: #2f3c48 !important;
}

.cabecera_semanticDetail .sapMTitle{
    color : white !important;   
}
.cabecera_productoDetallado .sapContrastPlus {
    background-color: #2f3c48 !important;
}

.cabecera_semanticDetail .sapMBar .sapMBtnCustomIcon{
    color : #cae4fb !important;   
}

/**/
.formDinamico .sapUiFormResGridCont{
    padding-bottom: 0px !important;  
}
/*
.cabecera_semanticDetail .sapMITHBackgroundDesignSolid, .sapMOHBgSolid {
    background: #cae4fb !important;
}*/


/*Inicio Master Datos */
.cabeceraMaster .sapMBarContainer{
    background-color: #2f3c48 !important;
}

.cabeceraMaster .sapMPageHeader{
    background-color: #2f3c48 !important;
}
.cabeceraMaster .sapMTitle {
    color: white !important; 
}
.cabeceraMaster .sapMTBShrinkItem{
    color: black !important; 
}
/*Fin Master Datos*/









/*Inicio Cart master detail*/
/*Inicio Imagen Button*/
.SemanticPageEstilo .sapMBtnDefault  { 
    padding-top: 0px !important;
    width: 50px !important;
    height: 50px !important;
}
.SemanticPageEstilo .sapMBtnBase  { 
    width: 50px !important;
    height: 50px !important;
}
.btnSemanticEstilo .sapMBtnCustomIcon{
    transform: scale(2) !important;
}
/*End Imagen Button*/

/*Inicio Titulo Header*/
.SemanticPageEstilo .sapMTitle >span{
    color: black !important;
}   
/*End Titulo Header*/
/*End Cart master detail*/

/*Inicio Titulo List Detalle Producto Stock Disponible*/
.tituloStockDisponible .sapMBarChild >span{
    font-size: 60% !important;
}
/*End Titulo List Detalle Producto Stock Disponible*/

/*Arbol Flujo*/
.arbolFlujo .sapMTitle >span{
    color: black !important;
}
/*Inicio btnAction Flujo*/
.btnActionFlujo {
    height: 30px !important;
}
.btnActionFlujo .sapMBtnInner {

       height: 100% !important;
}
.btnActionFlujo .sapMBtnCustomIcon{
    transform: scale(0.5) !important;
    margin-top: -20% !important;
}
/*End btnAction Flujo*/

.sapMDialogBlockLayerInit {
    background: #2f3c48 !important;
    background-color: #2f3c48 !important;
}
/*********************************---------***************************************************/